<!--- Barra de navegación ---> 
<nav class="navbar navbar-expand-xl">

    <!--- Contenedor -->
    <div class="container-fluid ">

        <!---Navbar brand ( LOGO )-->
        <a class="navbar-brand" href="www.instagram.com/artystia">
            <img src="../../assets/imagenes/Artystia.png" alt="Logo" width="80px" style="border-radius:150%;">
        </a>

        <!----Boton Responsive -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="#menu" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!---- Cosas de la barra de navegación-->
        <div class="collapse navbar-collapse " id="menu">
            <ul class="navbar-nav d-flex justify-content-center align-items-center">
                <li class="nav-item"> <!-- Sobre Mi-->
                    <a href="" class="nav-link">Sobre mí</a>
                </li>
                <li>
                    <a href="" class="nav-link">Contacto</a>
                </li>
                <li><!-- Barra busqueda-->
                        <form class="d-flex align-items-center" role="search" style="padding: 5px;">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" style="font-size: 1.3em;">
                            <button class="btn btn-outline-success me-2" type="submit" style="font-size: 1.3em;">Buscar</button>
                        </form>
                </li>
                <li>
                <a class="btn btn-light me-1" href="#" role="button" style="height: 45px; width: 90px; font-size: 1.3em;">Entrar</a> 
                <a class="btn btn-light" href="#" role="button"  style="height: 45px; width: 130px; font-size: 1.3em;">Registrarse</a>   
                </li>

            </ul>
        </div> 
        
     </div>
</nav>

