<div class="container">
    <div class="row">

      <!---COLUMNA 2 -->
      <div class="col-lg">
        <div class="imagen-disenio">
          <img src="../../assets/images/disenografico.png" class="img-fluid" alt="ilustración diseñob">
        </div>
      </div>

      <div class="col-lg">
        <h3>Diseño Gráfico</h3>
        <div class="parrafo">
         <p> Diseñadora gráfica con experiencia en la creación de logotipos e identidad de marcas y/o emprendimientos. Especializada en ilustración digital 2D para redes sociales.</p>
        </div>
         <!-- Acordeon -->
         <div class="accordion" id="accordionExample2">
           <div class="accordion-item">
             <h2 class="accordion-header" id="headingOne">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
                 Logotipos
               </button>
             </h2>
             <div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
               <div class="accordion-body">
                 <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
               </div>
             </div>
           </div>
   
           <div class="accordion-item">
             <h2 class="accordion-header" id="headingTwo2">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo">
                 Identidad de Marca
               </button>
             </h2>
             <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
               <div class="accordion-body">
                 <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
               </div>
             </div>
           </div>
   
           <div class="accordion-item">
             <h2 class="accordion-header" id="headingThree2">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree">
                 Ilustraciones
               </button>
             </h2>
             <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExample2">
               <div class="accordion-body">
                 <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
               </div>
             </div>
           </div>
         </div>
       </div> <!--cierra columna-->


    </div> <!--cierra row-->


    <!--PORCENTAJES-->
    <div class="row">
      <div class="col circulo">
        
        <div class="label">
          <p>Photoshop</p>
        </div>

        <div class="porcientodiv">
          <img src="../../assets/images/70porciento.png" class="porciento" alt="logo argentina programa">
        </div>

      </div>

      <div class="col circulo">
        
        <div class="label">
          <p>Illustrator</p>
        </div>

        <div class="porcientodiv">
          <img src="../../assets/images/80porciento.png" class="porciento" alt="logo argentina programa">
        </div>

      </div>
      <div class="col circulo">
        
        <div class="label">
          <p>Clip Studio Paint</p>
        </div>

        <div class="porcientodiv">
          <img src="../../assets/images/95porciento.png" class="porciento" alt="logo argentina programa">
        </div>

      </div>

      <div class="col circulo">
        
        <div class="label">
          <p>Da Vinci Resolve</p>
        </div>

        <div class="porcientodiv">
          <img src="../../assets/images/40porciento.png" class="porciento" alt="logo argentina programa">
        </div>

      </div>

    </div>
    
</div>