<div class="container">
    <div class="row">

      <div class="col-lg">
        <h3>Artystia</h3>
        <div class="parrafo">
         <p>Artystia comenzó en 2021 como un emprendimiento de pinturas realizadas a mano, en la actualidad ya hay muchas obras esparcidas por todo el país con mi firma.</p>
        </div>
        <app-gallery-component></app-gallery-component>
      </div>


        <div class="col-lg img">
            <div class="imagen-disenio">
            <img src="../../assets/images/arte.png" class="img-fluid" alt="ilustración arte">
            </div>
        </div>
    </div> <!--ROW-->
    
</div>  <!--Container-->
