.carousel{
    border-radius: 15px;
    overflow: hidden;
    height: 600px;
}
.carousel-item{
    height: 600px;
}

.d-block{
    position: relative;
}

.foto1{
    object-fit: cover;
    width:100%;
    height:100%;
}

.foto2{
    object-fit: cover;
    width:100%;
    height:100%;
}

.foto3{
    object-fit: cover;
    width:100%;
    height:100%;
}