<div class="container">
    <div class="row">

      <div class="col-lg">
          <h3>Desarrollo Web</h3>
          <div class="parrafo">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis laboriosam expedita cupiditate 
              reprehenderit dolorum qui, hic labore vero obcaecati, accusantium in porro molestias minus, eveniet culpa. Sapiente facere aperiam a!
            </p>
          </div>
          <a class="argprograma" href="www.instagram.com/artystia">
            <img src="../../assets/images/arg-programa.png" class="argprogramalogo" alt="logo argentina programa">
          </a>

          <!-- Acordeon -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Proyecto 1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
    
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Proyecto 2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
    
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
      </div>
      

      <!---COLUMNA 2 -->
      <div class="col-lg">
        <div class="imagen-desarrollo">
          <img src="../../assets/images/disenoweb.png" class="img-fluid" alt=".ilustración desarrollo web">
        </div>
      </div>

    </div>

    <!--PORCENTAJES-->
    <div class="row">
      <div class="col circulo">
        
        <div class="label">
          <p>HTML</p>
        </div>

        <div class="porcientodiv">
          <img src="../../assets/images/80porciento.png" class="porciento" alt="logo argentina programa">
        </div>

      </div>

      <div class="col circulo">
        
        <div class="label">
          <p>CSS</p>
        </div>

        <div class="porcientodiv">
          <img src="../../assets/images/70porciento.png" class="porciento" alt="logo argentina programa">
        </div>

      </div>
      <div class="col circulo">
        
        <div class="label">
          <p>JavaScript</p>
        </div>

        <div class="porcientodiv">
          <img src="../../assets/images/50porciento.png" class="porciento" alt="logo argentina programa">
        </div>

      </div>

      <div class="col circulo">
        
        <div class="label">
          <p>SQL</p>
        </div>

        <div class="porcientodiv">
          <img src="../../assets/images/80porciento.png" class="porciento" alt="logo argentina programa">
        </div>

      </div>

    </div>
    
</div>
