<div class="container-fluid" style="background-color: #e8da82;">
    <div class="row">
        <div class="col-xl-3" style="text-align: center;" >
            <img class="img-fluid" src="https://i.pinimg.com/280x280_RS/a0/ae/cb/a0aecbe90a72bacf239a427cf87d2a37.jpg" alt="Syra">
        </div>

        <div class="col-lg">
            <p class="parrafo1" style="padding: 20px; padding-left: 0px;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto velit distinctio? Ad culpa voluptatem suscipit minus quia similique tenetur, incidunt eligendi, vitae error cumque fugit libero amet quae maxime?</p> 
        </div>
    </div>
</div>
