<div class="container-fluid fondo">
    <div class="row">
        <div class="col-xl-3" >
            <img class="img-fluid" src="https://i.pinimg.com/280x280_RS/a0/ae/cb/a0aecbe90a72bacf239a427cf87d2a37.jpg" alt="Syra">
        </div>

        <div class="col-lg">
            <p class="parrafo1"> 
                Hola! Me llamo Syra, bienvenido/a a mi sitio web. Soy artista y programadora, actualmente trabajo en mi emprendimiento y marca personal: Artystia. </p> 
        </div>
    </div>
</div>
