<div class="container-fluid habilidades">
    <div class="row">
            <div class="col"style="text-align: center; font-size:20pt;">
                Habilidades digitales
            </div>
    </div>
     <div class="row">
        <div class="col-sm"style="text-align: center;">
                Photoshop <br>
                <img class="procentajes" src="../../assets/imagenes/50.png" alt="">
        </div>
        <div class="col-sm"style="text-align: center;">
                Illustrator <br>
                <img class="procentajes" src="../../assets/imagenes/70.png" alt="">
        </div>
        <div class="col-sm"style="text-align: center;">
                Clip studio paint <br>
                <img class="procentajes" src="../../assets/imagenes/90.png" alt="">
        </div>
        <div class="col-sm"style="text-align: center;">
                 aftfgse <br>
                 <img  src="../../assets/imagenes/20.png"class="procentajes" alt="">
        </div>
    </div>
</div>    

<div class="container-fluid idiomas">
    <div class="row">
            <div class="col"style="text-align: center; font-size: 20pt;">
               Idiomas
            </div>
    </div>
     <div class="row">
        <div class="col-sm"style="text-align:right;">
                Español <br>
                <img  src="https://w7.pngwing.com/pngs/124/420/png-transparent-flag-of-spain-spanish-language-education-english-translation-spain-flag-miscellaneous-flag-text-thumbnail.png"class="banderas" alt="">
        </div>
        <div class="col-sm"style="text-align: left;">
            Inglés <br>
            <img  src="https://es-academic.com/pictures/eswiki/70/Flag_of_the_United_States.svg"class="banderas" alt="">
    </div>
    </div>
</div>    